body {
  background-color: #445B78;
}

h1 {
  text-align: center;
  color: #AA7A11;
  font-weight: lighter;
  font-family: Garamond;
  font-size: 6vw;
  margin-bottom: 5px;
}

#poolPic {
  float: center;
  max-width: 105%;
  margin: -5px;
}

h2 {
  text-align: center;
  color: #AA7A11;
  font-weight: lighter;
  font-family: Garamond;
  font-size: 3.4vw;
  margin-bottom: 50px;
}

.linkImages {
  margin: 5px;
  width: 100%;
  border-style: outset;
  border-color: white;
  border-radius: 50%;
}

h3 {
  text-align: center;
  color: #AA7A11;
  font-family: sans-serif;
  margin-top: 5px;
  margin-bottom: 20px;
  font-size: 2vw;
}
